nav {
  height: 3.5em;
  background-color: antiquewhite;

  >div {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 0 30px;

    >div.logo {
      display: flex;
      align-items: center; // 垂直（上下）居中（核心属性）

      a {
        text-decoration: none;
        // 可选：统一设置链接文字颜色（避免默认蓝色）
        color: #333;
        font-size: 20px;

        img {
          width: 40px; // 宽度（推荐只设宽度，高度自动等比）
          height: auto; // 高度自适应，避免图片变形
          vertical-align: middle; // 与文字垂直居中对齐（推荐）
        }

        span {
          vertical-align: middle; // 与文字垂直居中对齐（推荐）
          margin-left: 0.5em;
          font-weight: bold; // 关键字，等价于 700
        }
      }
    }

    >.nav {
      ul {
        display: flex;
        list-style-type: none;
        display: flex;
        padding: 0;
        justify-content: center;

        li {
          flex: 1;
          text-align: center;

          span {
            padding: 0 5px;
            cursor: pointer;
          }
        }

      }
    }

    >div:last-child {
      display: flex;
      justify-content: right; // 水平居中
      align-items: center; // 垂直居中

      span {
        padding: 0 5px;
        cursor: pointer;
      }
    }
  }
}